a:link {
  text-decoration: none;
}

a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

a:active {
  text-decoration: none;
}

a {
  color: #1f1f1f;
}

a:hover, a:active {
  color: grey;
}

html {
  height: 100vh;
  padding: 0px ;
  margin: 0px;
  font-family: 'Source Sans Pro', sans-serif;
}

body {
  height: 100vh;
  padding: 0px;
  margin: 0px;
  background-color: #FFFFFE;
}

.wrapper {
  width: 100vw;
  height: 100%;
  min-height: 100%;
  box-sizing: border-box;
  overflow-x: hidden;
  overflow-y: hidden;
  display: flex;
}

/*SIDE BAR CSS*/
.sidebar {
  min-width: 250px;
  max-width: 250px;
}

.sidebar-information {
  display: inline-block;
}

.p-4 h1 {
  margin-bottom: 3rem;
  font-size: 17px;
  font-style: normal;
  text-align: center;
}

.list-unstyled {
  padding: 0;
  margin: 0;
  list-style: none;
  color: #1f1f1f;
  display: grid;
}

.list-style {
  color: #1f1f1f;
  line-height: 1.6em;
  letter-spacing: 0em;
  font-weight: 550;
  font-style: normal;
  font-size: 12px;
  display: inline-block;
  float: left;
}

.p-4 {
  padding-top: 2.5rem !important;
}

.pt-5 {
  padding: 4rem;
}

.page-content {
  width: 100%;
  margin: 30px;
  position: relative;
}

img {
  max-width: 90%;
}

.sidebar-contact {
  margin-top: 20px
}

.sidebar-contact .list-style {
  line-height: 1.6em;
  text-transform: none;
  letter-spacing: .02em;
  font-weight: 500;
  font-style: normal;
  font-size: 11px;
}

html, body, #wrapper {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
  border: 0;
}

#wrapper td {
   vertical-align: middle;
   text-align: center;
}


.page-content-information {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.image-information {
  color: #1f1f1f;
  line-height: 1.6em;
  letter-spacing: 0em;
  font-style: normal;
  font-size: 12px;
  display: inline-block;
  float: left;
}

.image-information p {
  margin: 0;
  padding: 0;
}

.title {
  font-weight: 550;
  font-size: 12px;
}
