.u-section-1 .u-sheet-1 {
  min-height: 620px;
}

.u-section-1 .u-text-1 {
  margin: 84px 459px 0 -57px;
}

.u-section-1 .u-social-icons-1 {
  height: 21px;
  min-height: 16px;
  width: 21px;
  min-width: 16px;
  margin: 0 auto 60px -57px;
}

@media (max-width: 1199px) {
  .u-section-1 .u-text-1 {
    width: auto;
    margin-right: 359px;
    margin-left: -33px;
  }

  .u-section-1 .u-social-icons-1 {
    margin-left: -33px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-text-1 {
    margin-right: 249px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-text-1 {
    margin-right: 159px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-text-1 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-1 .u-social-icons-1 {
    margin-left: 0;
  }
}