.u-section-1 {min-height: 826px}
.u-section-1 .u-layout-wrap-1 {margin: 0 auto 1px 0}
.u-section-1 .u-layout-cell-1 {min-height: 858px}
.u-section-1 .u-container-layout-1 {padding: 30px 30px 3px}
.u-section-1 .u-text-1 {font-family: Heebo; font-weight: 700; font-size: 0.875rem; margin: 32px 89px 0 30px}
.u-section-1 .u-btn-1 {font-family: Heebo; font-size: 0.625rem; border-style: none; font-weight: 500; margin: 32px auto 0 30px; padding: 0}
.u-section-1 .u-btn-2 {font-family: Heebo; font-size: 0.625rem; font-weight: 500; border-style: none; margin: 19px auto 0 32px; padding: 0}
.u-section-1 .u-btn-3 {font-family: Heebo; font-size: 0.625rem; font-weight: 500; border-style: none; margin: 19px auto 0 30px; padding: 0}
.u-section-1 .u-social-icons-1 {height: 16px; min-height: 16px; width: 16px; min-width: 16px; white-space: nowrap; margin: 569px auto 0 30px}
.u-section-1 .u-icon-1 {height: 16px}
.u-section-1 .u-layout-cell-2 {min-height: 858px}
.u-section-1 .u-container-layout-2 {padding: 30px 30px 29px}
.u-section-1 .u-gallery-1 {width: 499px; height: 764px; grid-gap: 10px 10px; margin: 0 auto 0 106px}
.u-section-1 .u-carousel-indicators-1 {position: absolute; bottom: 10px}
.u-section-1 .u-gallery-inner-1 {grid-template-columns: auto}
.u-section-1 .u-carousel-item-1 {margin-top: 0; margin-bottom: 0}
.u-section-1 .u-over-slide-1 {min-height: 100px; padding: 13px}
.u-section-1 .u-carousel-item-2 {margin-top: 0; margin-bottom: 0}
.u-section-1 .u-over-slide-2 {min-height: 100px; padding: 13px}
.u-section-1 .u-over-slide-3 {min-height: 100px; padding: 13px}
.u-section-1 .u-over-slide-4 {min-height: 100px; padding: 13px}
.u-section-1 .u-over-slide-5 {min-height: 100px; padding: 13px}
.u-section-1 .u-carousel-control-1 {position: absolute; left: auto; width: 15px; height: 15px; top: auto; right: 49px; bottom: 73px}
.u-section-1 .u-carousel-control-2 {position: absolute; width: 15px; height: 15px; left: auto; top: auto; right: 15px; bottom: 73px}
.u-section-1 .u-gallery-2 {width: 499px; height: 764px; grid-gap: 10px 10px; margin: 30px auto 0 106px}
.u-section-1 .u-carousel-indicators-2 {position: absolute; bottom: 10px}
.u-section-1 .u-gallery-inner-2 {grid-template-columns: auto}
.u-section-1 .u-carousel-item-6 {margin-top: 0; margin-bottom: 0}
.u-section-1 .u-over-slide-6 {min-height: 100px; padding: 13px}
.u-section-1 .u-carousel-item-7 {margin-top: 0; margin-bottom: 0}
.u-section-1 .u-over-slide-7 {min-height: 100px; padding: 13px}
.u-section-1 .u-over-slide-8 {min-height: 100px; padding: 13px}
.u-section-1 .u-over-slide-9 {min-height: 100px; padding: 13px}
.u-section-1 .u-over-slide-10 {min-height: 100px; padding: 13px}
.u-section-1 .u-carousel-control-3 {position: absolute; left: auto; width: 15px; height: 15px; top: auto; right: 49px; bottom: 73px}
.u-section-1 .u-carousel-control-4 {position: absolute; width: 15px; height: 15px; left: auto; top: auto; right: 15px; bottom: 73px} 

@media (max-width: 1199px){ .u-section-1 {min-height: 521px}
.u-section-1 .u-layout-wrap-1 {position: relative; margin-right: initial; margin-left: initial}
.u-section-1 .u-layout-cell-1 {min-height: 681px}
.u-section-1 .u-text-1 {width: 116px; margin-right: 64px; margin-left: 17px}
.u-section-1 .u-btn-1 {margin-top: 30px; margin-left: 17px}
.u-section-1 .u-btn-2 {margin-top: 56px; margin-left: 17px}
.u-section-1 .u-btn-3 {margin-top: -52px; margin-left: 17px}
.u-section-1 .u-social-icons-1 {margin-top: 619px; margin-left: 17px}
.u-section-1 .u-layout-cell-2 {min-height: 681px} }

@media (max-width: 991px){ .u-section-1 .u-layout-cell-1 {min-height: 100px}
.u-section-1 .u-text-1 {margin-right: 14px; margin-left: 11px}
.u-section-1 .u-btn-1 {margin-top: 32px; margin-left: 11px}
.u-section-1 .u-btn-2 {margin-top: 54px; margin-left: 11px}
.u-section-1 .u-btn-3 {margin-top: -51px; margin-left: 11px}
.u-section-1 .u-social-icons-1 {margin-top: 618px; margin-left: 11px}
.u-section-1 .u-layout-cell-2 {min-height: 100px}
.u-section-1 .u-gallery-1 {width: 472px; margin-left: 0}
.u-section-1 .u-gallery-2 {width: 472px; margin-left: 0} }

@media (max-width: 767px){ .u-section-1 {min-height: 873px}
.u-section-1 .u-layout-cell-1 {min-height: 124px}
.u-section-1 .u-container-layout-1 {padding-left: 10px; padding-right: 10px}
.u-section-1 .u-text-1 {width: auto; margin-top: 0; margin-right: 427px; margin-left: 77px}
.u-section-1 .u-btn-1 {margin-top: 14px; margin-left: 77px}
.u-section-1 .u-btn-2 {margin-top: -16px; margin-left: 143px}
.u-section-1 .u-btn-3 {margin-top: -16px; margin-left: 180px}
.u-section-1 .u-social-icons-1 {margin-top: -16px; margin-right: 66px; margin-left: auto}
.u-section-1 .u-layout-cell-2 {min-height: 806px}
.u-section-1 .u-container-layout-2 {padding-left: 10px; padding-right: 10px}
.u-section-1 .u-gallery-1 {margin-top: -53px; margin-left: auto}
.u-section-1 .u-gallery-2 {margin-top: -50px; margin-left: auto} }

@media (max-width: 575px){ .u-section-1 {min-height: 673px}
.u-section-1 .u-layout-wrap-1 {width: 340px; margin-top: 1px; margin-left: auto; margin-right: auto}
.u-section-1 .u-layout-cell-1 {min-height: 100px}
.u-section-1 .u-container-layout-1 {padding-top: 0; padding-bottom: 0; padding-left: 0}
.u-section-1 .u-text-1 {margin-right: 142px; margin-left: 11px}
.u-section-1 .u-btn-1 {margin-top: 12px; margin-left: 11px}
.u-section-1 .u-btn-2 {margin-left: 75px}
.u-section-1 .u-btn-3 {margin-left: 110px}
.u-section-1 .u-social-icons-1 {height: 17px; width: 17px; margin-top: -17px; margin-right: -1px}
.u-section-1 .u-layout-cell-2 {min-height: 100px}
.u-section-1 .u-container-layout-2 {padding-right: 40px; padding-bottom: 0}
.u-section-1 .u-gallery-1 {width: 320px}
.u-section-1 .u-gallery-2 {width: 330px; height: 526px; margin-top: -30px; margin-left: -5px} }